@import 'normalize.css';
@import '$lib/styles/fonts.css';

:root {
	--font-header: nb-architekt, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	--font-body: nb-architekt, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	--column-width: 42rem;
	--margin: 20px;
	--header-height: 46px;
	--shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	font-family: var(--font-body);
	color: var(--color-text);
}

/* :root {
	--background: #f0f0f0;
	--background-light: #e0e0e0;
	--background-50: #f0f0f080;
	--primary: #232323;
	--primary-50: #23232340;
} */

:root {
	--background: #1d1d1d;
	--background-light: #232323;
	--background-50: #23232380;
	--primary: #f0f0f0;
	--primary-50: #f0f0f040;
}

:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body {
	margin: 0;
	background-attachment: fixed;
	background-color: var(--background);
	background-size: 100% 100%;
	background: linear-gradient(var(--background), var(--background));
} */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: var(--primary);
	text-transform: none;
	letter-spacing: 0.1em;
	line-height: 150%;
	font-size: 12px;
}

/* ::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
} */

::-moz-selection {
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
	font-weight: 600;
	letter-spacing: 0.1em;
	margin: 0;
}

h1 {
	font-size: 22px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 18px;
		font-weight: 400;
	}

	p,
	a {
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0.08em;
		font-size: 13px;
	}
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Opera) */
div::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

/* Track of the scrollbar */
div::-webkit-scrollbar-track {
	width: 1px;
	height: 1px;
	background: transparent; /* You can adjust this if needed */
}

/* Thumb of the scrollbar (the part you drag) */
div::-webkit-scrollbar-thumb {
	background-color: var(--primary-50);
	border-radius: 10px;
}

/* For Edge and IE (unsupported but future-proofing) */
div {
	-ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hides scrollbar */
}
